.left {
    display: flex;
   
    font-size: 20px;
}
.align {
background-color:rgb(246, 250, 250);
}
.logo{
    padding: 7px;
    height: 39px;
}
.id{
    text-decoration: none;
    
}
.MuiTypography-colorTextSecondary {
    color: rgba(0, 0, 0, 0.54);
    padding: 75px;
}
.MuiCard-root {
    overflow: hidden;
    height: 100% !important;
}
.MuiPaper-elevation1{
    box-shadow: none !important;
}