.left {
    display: flex;
   
    font-size: 20px;
}
.align {
background-color:rgb(246, 250, 250);
}
.logo{
    padding: 7px;
    height: 39px;
}
.id{
    text-decoration: none;
    
}
.MuiTypography-colorTextSecondary {
    color: rgba(0, 0, 0, 0.54);
    /* padding: 75px; */
}
.MuiCard-root {
    overflow: hidden;
    height: 100% !important;
}
.MuiPaper-elevation1{
    box-shadow: none !important;
}

.maincontent p{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
Grid .head{
    text-align: left;
    font-size: 96px;
    color: #191D24;
    position: relative;
}

p {
    font-family: inherit !important;
    

}
CardContent Typography{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: #ffff;
    }
}