.typo Typography {
  font-family: SVN-Gilroy !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
}
.type {
  list-style-type: none;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}
.MuiTypography-colorTextSecondary {
    color: rgba(0, 0, 0, 0.54);
    padding: 75px;
}
